LinkedIn Pandas Essential Training

In [ ]:
print('Hello world!')

In [ ]:
pip install pandas

In [2]:
import pandas as pd
pd?

In [3]:
pd.__version__
pd.read_csv?

Series and DataFrames

In [3]:
oo = pd.read_csv('../LinkedIn-Pandas-Essential-Training/ExerciseFiles/data/olympics.csv', skiprows = 4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [4]:
#first 30 and last 30
oo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

Series and DataFrames

In [5]:
oo['City']

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
          ...
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [6]:
# oo['Athlete']
oo.Athlete
# dot (.) notation ONLY when there are no spaces

0               HAJOS, Alfred
1            HERSCHMANN, Otto
2           DRIVAS, Dimitrios
3          MALOKINIS, Ioannis
4          CHASAPIS, Spiridon
                 ...
29211          ENGLICH, Mirko
29212    MIZGAITIS, Mindaugas
29213         PATRIKEEV, Yuri
29214           LOPEZ, Mijain
29215          BAROEV, Khasan
Name: Athlete, Length: 29216, dtype: object

In [7]:
oo[['City', 'Athlete']]

          City               Athlete
0       Athens         HAJOS, Alfred
1       Athens      HERSCHMANN, Otto
2       Athens     DRIVAS, Dimitrios
3       Athens    MALOKINIS, Ioannis
4       Athens    CHASAPIS, Spiridon
...        ...                   ...
29211  Beijing        ENGLICH, Mirko
29212  Beijing  MIZGAITIS, Mindaugas
29213  Beijing       PATRIKEEV, Yuri
29214  Beijing         LOPEZ, Mijain
29215  Beijing        BAROEV, Khasan

[29216 rows x 2 columns]

In [9]:
type(oo)
type(oo.City)
type(oo[['City', 'Athlete']])

pandas.core.frame.DataFrame

Data Input and Validation

In [30]:
oo = pd.read_csv('../LinkedIn-Pandas-Essential-Training/ExerciseFiles/data/olympics.csv', skiprows = 4)
oo.head(1)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

DataFrame.Shape

In [13]:
# rows x columns
oo.shape

(29216, 10)

In [15]:
# Rows
oo.shape[0]

29216

In [38]:
# Columns
oo.shape[1]

10

In [16]:
# Heads and Tails
oo.head(5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [17]:
oo.tail(5)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [36]:
# Info - Summary of DataFrame
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          29216 non-null  object
 1   Edition       29216 non-null  int64
 2   Sport         29216 non-null  object
 3   Discipline    29216 non-null  object
 4   Athlete       29216 non-null  object
 5   NOC           29216 non-null  object
 6   Gender        29216 non-null  object
 7   Event         29216 non-null  object
 8   Event_gender  29216 non-null  object
 9   Medal         29216 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

Data Basic Analysis

In [20]:
oo['City'].value_counts()

Athens                   2149
Los Angeles              2074
Beijing                  2042
Sydney                   2015
Atlanta                  1859
Barcelona                1705
London                   1618
Seoul                    1546
Paris                    1396
Moscow                   1387
Montreal                 1305
Antwerp                  1298
Munich                   1185
Mexico                   1031
Tokyo                    1010
Helsinki                  889
Stockholm                 885
Melbourne / Stockholm     885
Rome                      882
Berlin                    875
Amsterdam                 710
St Louis                  470
Name: City, dtype: int64

In [21]:
oo.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [24]:
oo.Gender.value_counts(ascending=True,dropna=False)

Women     7495
Men      21721
Name: Gender, dtype: int64

In [26]:
Ath = oo.Athlete.sort_values()
Ath

651                 AABYE, Edgar
2849       AALTONEN, Arvo Ossian
2852       AALTONEN, Arvo Ossian
7716    AALTONEN, Paavo Johannes
7730    AALTONEN, Paavo Johannes
                  ...
603                   ÖSTMO, Ole
608                   ÖSTMO, Ole
621                   ÖSTMO, Ole
596                   ÖSTMO, Ole
8051           ÖSTRAND, Per-Olof
Name: Athlete, Length: 29216, dtype: object

In [27]:
oo.sort_values(by=['Edition', 'Athlete'])

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
110,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",M,Silver
111,Athens,1896,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",M,Silver
48,Athens,1896,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,M,Bronze
...,...,...,...,...,...,...,...,...,...,...
28095,Beijing,2008,Equestrian,Dressage,"ZU-SAYN WITTGENSTEIN, Nathalie",DEN,Women,team,X,Bronze
28819,Beijing,2008,Sailing,Sailing,"ZUBARI, Shahar",ISR,Men,RS:X - Windsurfer,M,Bronze
28977,Beijing,2008,Taekwondo,Taekwondo,"ZUBCIC, Martina",CRO,Women,49 - 57 kg,W,Bronze
28387,Beijing,2008,Gymnastics,Rhythmic G.,"ZUEVA, Natalia",RUS,Women,group competition,W,Gold
29007,Beijing,2008,Tennis,Tennis,"ZVONAREVA, Vera",RUS,Women,singles,W,Bronze

In [37]:
# Boolean Indexing
# And & 
# Or |  
# Not ~

oo.Medal == 'Gold'

0         True
1        False
2        False
3         True
4        False
         ...
29211    False
29212    False
29213    False
29214     True
29215    False
Name: Medal, Length: 29216, dtype: bool

In [33]:
# Filter
oo[oo.Medal == 'Gold']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

In [34]:
oo[(oo.Medal == 'Gold')&(oo.Gender == 'Women')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
417,Paris,1900,Golf,Golf,"ABBOTT, Margaret Ives",USA,Women,individual,W,Gold
641,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,mixed doubles,X,Gold
649,Paris,1900,Tennis,Tennis,"COOPER, Charlotte",GBR,Women,singles,W,Gold
710,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double columbia round (50y - 40y - 30y),W,Gold
713,St Louis,1904,Archery,Archery,"HOWELL, Matilda Scott",USA,Women,double national round (60y - 50y),W,Gold
...,...,...,...,...,...,...,...,...,...,...
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold

In [40]:
# String Handling (Series.str)

oo[oo.Athlete.str.contains('Florence')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
1843,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,individual,W,Gold
1848,London,1908,Skating,Figure skating,"SYERS, Florence",GBR,Women,pairs,X,Bronze
4173,Paris,1924,Aquatics,Swimming,"BARKER, Florence",GBR,Women,4x100m freestyle relay,W,Silver
8162,Helsinki,1952,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Bronze
9060,Melbourne / Stockholm,1956,Athletics,Athletics,"FOULDS-PAUL, June Florence",GBR,Women,4x100m relay,W,Silver
10849,Tokyo,1964,Athletics,Athletics,"AMOORE-POLLOCK, Judith Florence",AUS,Women,400m,W,Bronze
16817,Los Angeles,1984,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Silver
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
18305,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,200m,W,Gold
18347,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x100m relay,W,Gold
18374,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,4x400m relay,W,Silver

In [83]:
# Challenge
# - In which events did Jesse Owens win a medal

oo[oo.Athlete.str.contains('OWENS, Jesse')]

# Video results
oo[oo.Athlete.str.contains('OWENS, Jesse')].Event.value_counts()

4x100m relay    1
200m            1
100m            1
long jump       1
Name: Event, dtype: int64

In [84]:
# Challenge
# - Which country has won the most men's gold medals in singles badminton over the year? 
#   (sort results alphabetically)

oo.City[(oo.Medal == 'Gold') & 
   (oo.Gender == 'Men') & 
   (oo.Sport.str.contains('Badminton'))].value_counts()

# Count group by Column
# oo.Sport.value_count()

Sydney       4
Athens       4
Beijing      4
Atlanta      4
Barcelona    3
Name: City, dtype: int64

In [64]:
# Challenge
# - Which three countries have won the most medals in recent years (1984 - 2008)
# - Display the male gold medal winners for the 100m track and field sprint event over the years. (list the results  starting with the most recent, show the olimpic city, edition, athlete, and country they represent)

oo.City[oo.Edition >= 1982].value_counts(ascending=False).head(3)

Beijing    2042
Sydney     2015
Athens     1998
Name: City, dtype: int64

In [91]:
# Challenge
# - Display the male gold medal winners for the 100m track and field sprint event over the years. 
#   (list the results  starting with the most recent, show the olimpic city, edition, athlete, and country they represent)

temp = oo[(oo.Gender == 'Men') & 
   (oo.Medal == 'Gold') &
   (oo.Sport == 'Athletics') &
   (oo.Event.str.contains('100m'))]

temp[['City', 'Edition', 'Athlete', 'NOC']].sort_values(by=['Edition'], ascending = False)

#oo.Event.unique()

            City  Edition              Athlete  NOC
27606    Beijing     2008        POWELL, Asafa  JAM
27605    Beijing     2008      FRATER, Michael  JAM
27604    Beijing     2008        CARTER, Nesta  JAM
27603    Beijing     2008          BOLT, Usain  JAM
27552    Beijing     2008          BOLT, Usain  JAM
...          ...      ...                  ...  ...
2051   Stockholm     1912  APPLEGARTH, William  GBR
1191      London     1908     WALKER, Reginald  RSA
737     St Louis     1904         HAHN, Archie  USA
231        Paris     1900      JARVIS, Francis  USA
13        Athens     1896        BURKE, Thomas  USA

[118 rows x 4 columns]

In [92]:
import pathlib
pathlib.Path().absolute()

PosixPath('/Users/sandraalpizar/Documents/Nerding/LinkedIn-Pandas-Essential-Training')

In [20]:
import os
os.path.abspath(os.getcwd())
#os.listdir('/Users/sandraalpizar/Documents/Nerding/LinkedIn-Pandas-Essential-Training/ExerciseFiles/data')
#os.listdir('../')

'/Users/sandraalpizar/Documents/Nerding/LinkedIn-Pandas-Essential-Training'