LinkedIn Pandas Essential Training

In [ ]:
print('Hello world!')

In [ ]:
pip install pandas

In [2]:
import pandas as pd
pd?

In [3]:
pd.__version__
pd.read_csv?

Series and DataFrames

In [3]:
oo = pd.read_csv('../LinkedIn-Pandas-Essential-Training/ExerciseFiles/data/olympics.csv', skiprows = 4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [4]:
oo
#first 30 and last 30

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

Series and DataFrames

In [5]:
oo['City']

0         Athens
1         Athens
2         Athens
3         Athens
4         Athens
          ...
29211    Beijing
29212    Beijing
29213    Beijing
29214    Beijing
29215    Beijing
Name: City, Length: 29216, dtype: object

In [6]:
# oo['Athlete']
oo.Athlete
# dot notation when there are no spaces

0               HAJOS, Alfred
1            HERSCHMANN, Otto
2           DRIVAS, Dimitrios
3          MALOKINIS, Ioannis
4          CHASAPIS, Spiridon
                 ...
29211          ENGLICH, Mirko
29212    MIZGAITIS, Mindaugas
29213         PATRIKEEV, Yuri
29214           LOPEZ, Mijain
29215          BAROEV, Khasan
Name: Athlete, Length: 29216, dtype: object

In [7]:
oo[['City', 'Athlete']]

          City               Athlete
0       Athens         HAJOS, Alfred
1       Athens      HERSCHMANN, Otto
2       Athens     DRIVAS, Dimitrios
3       Athens    MALOKINIS, Ioannis
4       Athens    CHASAPIS, Spiridon
...        ...                   ...
29211  Beijing        ENGLICH, Mirko
29212  Beijing  MIZGAITIS, Mindaugas
29213  Beijing       PATRIKEEV, Yuri
29214  Beijing         LOPEZ, Mijain
29215  Beijing        BAROEV, Khasan

[29216 rows x 2 columns]

In [9]:
type(oo)
type(oo.City)
type(oo[['City', 'Athlete']])

pandas.core.frame.DataFrame

Data Input and Validation

In [12]:
oo = pd.read_csv('../LinkedIn-Pandas-Essential-Training/ExerciseFiles/data/olympics.csv', skiprows = 4)
oo.head(1)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold

DataFrame.Shape

In [13]:
oo.shape
# rows x columns

(29216, 10)

In [15]:
oo.shape[0]
# Rows

29216

In [ ]:
oo.shape[1]
# Columns

In [13]:
import pathlib
pathlib.Path().absolute()

PosixPath('/Users/sandraalpizar/Documents/Nerding/LinkedIn-Pandas-Essential-Training')

In [20]:
import os
os.path.abspath(os.getcwd())
#os.listdir('/Users/sandraalpizar/Documents/Nerding/LinkedIn-Pandas-Essential-Training/ExerciseFiles/data')
#os.listdir('../')

'/Users/sandraalpizar/Documents/Nerding/LinkedIn-Pandas-Essential-Training'